# -*- eval: (cargo-minor-mode 1) -*-

[package]
name = "aatree"
version = "0.1.0"
authors = ["Dominic Meiser <git@msrd0.de>"]
edition = "2018"
license = "Apache-2.0"

[dependencies]
log = "0.4.8"
# BENCHMARK DEPENDENCIES
criterion = { version = "0.3.3", optional = true }
paste = { version = "0.1.18", optional = true }

[features]
default = []
benchmark = ["criterion", "paste"]

[[bench]]
name = "contains"
harness = false

[[bench]]
name = "insert"
harness = false
